

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: tahoma;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.toggle-btn , .change-status{
    font-size: 30px;
    background-color: #BDE0FE;
    padding: 10px 0px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s;
}

.toggle-btn:hover, .change-status:hover{
    scale: 1.05;
}

.toggle-btn:active, .change-status:active{
    scale: 0.95;
}

.details{
    font-size: 20px;
    background-color: #BDE0FE;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.change-status{
    width: 250px;
    border: none;
}

.status{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}