
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial;
    padding-top: 1rem;
}

.container{
    background-color: #afcef0;
    padding: 1rem 1rem 1rem 0;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{
  background-color: #F5F7FA;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 5px;
}