*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem 1rem;
}

h1{
    color: #1E3A8A;
}

.container{
    background-color: #DBEAFE;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.user-card{
    background-color: #1E3A8A;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.remove-btn, .unmounting-btn{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    transition: all 0.3s;
    color: #1E3A8A;
}

.unmounting-btn{
    width: 50%;
    font-size: 20px;
    background-color: #1E3A8A;
    color: white;
}

button:hover{
    transform: scale(1.05);   
}

button:active{
    transform: scale(1);   
}